<notification-modal [isOpen]="isNotificationOpen" [modalText]="modalText" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></notification-modal>

<h2 class="text-center">Acceso</h2>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="formulario row g-3">

      <div class="form-group">
        <label for="mailUser">E-Mail</label>
        <input type="email" id="mailUser" formControlName="mailUser" class="form-control">
        <div *ngIf="loginForm.controls.mailUser.invalid && (loginForm.controls.mailUser.dirty || loginForm.controls.mailUser.touched)">
          <div *ngIf="loginForm.controls.mailUser.errors.required" class="warningInput">Campo obligatorio.</div>
          <div *ngIf="loginForm.controls.mailUser.errors.email" class="warningInput">Correo no válido.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordUser">Contraseña</label>
        <input type="password" id="passwordUser" formControlName="passwordUser" class="form-control">
        <div *ngIf="loginForm.controls.passwordUser.invalid && (loginForm.controls.passwordUser.dirty || loginForm.controls.passwordUser.touched)">
          <div *ngIf="loginForm.controls.passwordUser.errors.required" class="warningInput">This camp is required.</div>
        </div>
      </div>

  
    <button class="buttonEntry">Entrar</button>
</form>

<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>