<confirmation-modal [isOpen]="isModalOpen" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></confirmation-modal>
<notification-modal [isOpen]="isNotificationOpen" [modalText]="modalText" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></notification-modal>

<h2 *ngIf="prodData" class="text-center">Editar Producto {{ prodData.nameProduct }}</h2>

<form *ngIf="prodData" (ngSubmit)="onSubmit()" class="formulario row g-3">

    <div class="form-group">
        <label for="nameProduct">Nombre</label>
        <input type="text" class="form-control" id="nameProduct" name="nameProduct" [(ngModel)]="prodData.nameProduct" required />
    </div>

    <div class="form-group">
        <label for="descriptionProduct">Descripción</label>
        <input type="text" class="form-control" id="descriptionProduct" name="descriptionProduct" [(ngModel)]="prodData.descriptionProduct" required />
    </div>

    <div class="form-group">
        <label for="deletedProduct">Producto Eliminado</label>
        <input type="checkbox" class="form-check-input" id="deletedProduct" name="deletedProduct" [(ngModel)]="prodData.deletedProduct" />
    </div>

    <button class="buttonUpdate" (click)="openModal()">Actualizar</button>

</form>

<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>
