<main>
    <div class="containgerFrontPage">
        <div class="titleAndIcon">
            <img src="../../../assets/imagesEaseAer/EaseAer_Logo_2_Png.png" alt="GitHub" class="logo">
            <h1 class="titulo">EaseAer</h1>
            <h2 class="airportName">Aeropuerto Josep Tarradellas Barcelona - El Prat</h2>
        </div>
        <div class="containerHomePage">
            <section>
                <ul class="list-group">
                <li class="redesSociales">
                    <h3 class="teamMember">Marc Moran Monfort</h3>
                    <a href="https://www.instagram.com/marcmmonfort/">
                        <img src="../../../assets/imagesSocialNetworks/Icon_Instagram.png" alt="Instagram" class="networkIcon">
                    </a>
                    <a href="https://www.linkedin.com/in/marc-moran-monfort-ba698019a/">
                        <img src="../../../assets/imagesSocialNetworks/Icon_LinkedIn.png" alt="LinkedIn" class="networkIcon">
                    </a>
                    <a href="https://github.com/marcmmonfort">
                        <img src="../../../assets/imagesSocialNetworks/Icon_GitHub.png" alt="GitHub" class="networkIcon">
                    </a>
                </li>
                </ul>
            </section>
        </div>
    </div>
  </main>
  
  <footer>
    <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
  </footer>
  