<header>
  <h1 class="titulo">EaseAer</h1>
  <h2 class="slogan">Aeropuerto Josep Tarradellas Barcelona - El Prat</h2>
</header>
<main>
  <div>
    <section>
      <h2 class="titulo2">Estadísticas</h2>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action active">
          {{ userCount }} <strong>Usuarios Registrados</strong> 
        </li>
      </ul>
    </section>
  </div>

  <div>
    <section>
      <h2 class="titulo2">Team</h2>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action active">
          <a class="enlace" href="https://www.instagram.com/marcmmonfort/">Marc Moran Monfort</a> 
        </li>
      </ul>
    </section>
  </div>
</main>
<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>

<router-outlet></router-outlet>
