<notification-modal [isOpen]="isNotificationOpen" [modalText]="modalText" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></notification-modal>

<h2 class="text-center">Incidentes</h2>

<div class="bloque_funcionalidades_clase">
    <button type="button" class="animated-word" routerLink="/incidents/create">Create</button>
    <button type="button" class="animated-word" (click)="printeaTodos()">Get All</button>
    <input type="text" class="buscador" placeholder="Get By User Id" [(ngModel)]="searchIncidentByUser" name="searchIncidentByUser" (keyup)="searchByUserId()"/>
    <select class="buscadorSelect" [(ngModel)]="searchIncidentByCollective" (change)="searchByCollective()">
        <option value="">Get By Collective</option>
        <option value="security">FFCCS</option>
        <option value="medical">Servicios Médicos</option>
        <option value="fire">SSEI</option>
        <option value="cleaning">Limpieza</option>
        <option value="assistance">Asistencia / Ayuda</option>
        <option value="tech">Equipo Técnico</option>
        <option value="other">Otr@</option>
    </select>
    <select class="buscadorSelect" [(ngModel)]="searchIncidentByStatus" (change)="searchByStatus()">
        <option value="">Get By Status</option>
        <option value="new">Nuevo</option>
        <option value="received">Recibido</option>
        <option value="managed">Tramitado / Gestionado</option>
        <option value="solved">Solucionado ✓</option>
        <option value="unsolved">No Solucionado ✗</option>
    </select>
</div>

<div class="input-group mb-3">
</div>

<div class="tableLocations">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th class="textTitleTable">ID Incidente</th>
            <th class="textTitleTable">ID Usuario Incidente</th>
            <th class="textTitleTable">Aviso</th>
            <th class="textTitleTable">Última Actualización</th>
            <th class="textTitleTable">Status</th>
            <th class="textTitleTable">Descripción</th>
            <th class="textTitleTable">Colectivo Afectado</th>
            <th class="textTitleTable">Detalles</th>
            <th class="textTitleTable">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let incident of filteredIncidents" [ngClass]="{ 'table-danger': incident.deletedIncident, 'table-success': !incident.deletedIncident }">
            <td class="text-center">{{ incident.uuid.slice(0, 4) }} ... {{ incident.uuid.slice(-4) }}</td>
            <td class="text-center">{{ incident.idUserIncident.slice(0, 4) }} ... {{ incident.idUserIncident.slice(-4) }}</td>
            <td class="text-center">{{ incident.createdAt | date:'dd/MM/yyy' }}</td>
            <td class="text-center">{{ incident.updatedAt | date:'dd/MM/yyy' }}</td>
            <td class="text-center">
              <span *ngIf="incident.statusIncident === 'new'">Nuevo</span>
              <span *ngIf="incident.statusIncident === 'received'">Recibido</span>
              <span *ngIf="incident.statusIncident === 'managed'">Tramitado / Gestionado</span>
              <span *ngIf="incident.statusIncident === 'solved'">Solucionado ✓</span>
              <span *ngIf="incident.statusIncident === 'unsolved'">No Solucionado ✗</span>
            </td>
            <td class="text-center">{{ incident.descriptionIncident.slice(0, 46) }} ... </td>
            <td class="text-center">
                <span *ngIf="incident.collectivesIncident === 'security'">FFCCS</span>
                <span *ngIf="incident.collectivesIncident === 'medical'">Servicios Médicos</span>
                <span *ngIf="incident.collectivesIncident === 'fire'">SSEI</span>
                <span *ngIf="incident.collectivesIncident === 'cleaning'">Limpieza</span>
                <span *ngIf="incident.collectivesIncident === 'assistance'">Asistencia / Ayuda</span>
                <span *ngIf="incident.collectivesIncident === 'tech'">Equipo Técnico</span>
                <span *ngIf="incident.collectivesIncident === 'other'">Otr@</span>
            </td>
            <td class="text-center">
              <div class="button-wrapper">
                <a class="animated-word-do" [routerLink]="['/incidents/details/', incident.uuid]">Detalles</a>
              </div>
            </td>
            <td class="text-center">
              <div class="button-wrapper">
                <a class="animated-word-do" [routerLink]="['/incidents/edit/', incident.uuid]">Editar</a>
              </div>
            </td> 
      </tr>
    </tbody>
  </table>
</div>

<div class="pagButtonsContainer">
  <button type="button" class="button-arounder" (click)="paginatePrevious()" >◀</button>
  <p class="textoPag"> Page {{ numPage }} </p> 
  <button type="button" class="button-arounder" (click)="paginateNext()">▶</button>  
</div>

<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>
