<confirmation-modal [isOpen]="isModalOpen" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></confirmation-modal>
<notification-modal [isOpen]="isNotificationOpen" [modalText]="modalText" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></notification-modal>

<h2 *ngIf="prizeData" class="text-center">Editar Datos de {{ prizeData.namePrize }}</h2>

<form *ngIf="prizeData" (ngSubmit)="onSubmit()" class="formulario row g-3">
    <div class="form-group">
        <label for="namePrize">Nombre</label>
        <input type="text" class="form-control" id="namePrize" name="namePrize" [(ngModel)]="prizeData.namePrize" required />
    </div>

    <div class="form-group">
        <label for="descriptionPrize">Descripción</label>
        <input type="text" class="form-control" id="descriptionPrize" name="descriptionPrize" [(ngModel)]="prizeData.descriptionPrize" required />
    </div>

    <div class="form-group">
        <label for="pointsPrize">Puntos</label>
        <input type="number" class="form-control" id="pointsPrize" name="pointsPrize" [(ngModel)]="prizeData.pointsPrize" min="0" required />
    </div>

    <div class="form-group">
        <label for="idShopPrize">ID Tienda</label>
        <input type="text" class="form-control" id="idShopPrize" name="idShopPrize" [(ngModel)]="prizeData.idShopPrize" required />
    </div>

    <div class="form-group">
        <label for="dateEndPrize">Caducidad</label>
        <input type="date" class="form-control" id="dateEndPrize" name="dateEndPrize" [(ngModel)]="prizeData.dateEndPrize" required />
        <div class="warningInput"> Fecha de Caducidad Registrada: {{ prizeData.dateEndPrize | date:'dd/MM/yyy' }} </div>
    </div>

    <div class="form-group">
        <label for="codePrize">Código</label>
        <input type="text" class="form-control" id="codePrize" name="codePrize" [(ngModel)]="prizeData.codePrize" required />
    </div>
    
    <div class="form-group">
        <label for="deletedPrize">Premio Eliminado</label>
        <input type="checkbox" class="form-check-input" id="deletedPrize" name="deletedPrize" [(ngModel)]="prizeData.deletedPrize" />
    </div>

    <button class="buttonUpdate" (click)="openModal()">Actualizar</button>
</form>

<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>
