<h2 *ngIf="newsId" class="text-center">Información de Noticia</h2>

<div class="container">
  <div class="card my-5">
    <div class="card-header">
      <h3 class="text-center">{{ newsData.titleNews }}</h3>
    </div>
    <div class="card-body">
      <div *ngIf="!newsData" class="loadingBox">
        <p class="loadingText">↺ Cargando Información ↺</p>
      </div>
      <div *ngIf="newsData">
        <ul class="list-group">
            <li class="list-group-item"><strong>ID Noticia </strong>{{ newsData.uuid }}</li>
            <li class="list-group-item"><strong>ID Autor </strong>{{ newsData.idUserAuthorNews }}</li>
            <li class="list-group-item"><strong>Título </strong>{{ newsData.titleNews }}</li>
            <li class="list-group-item"><strong>Subtítulo </strong>{{ newsData.subtitleNews }}</li>
            <li class="list-group-item"><strong>Descripción / Contenido </strong>{{ newsData.descriptionNews }}</li>
            <li class="list-group-item"><strong>Fecha </strong> {{ newsData.dateNews | date:'dd/MM/yyy' }}</li>
            <li class="list-group-item"><strong>Estado </strong> <span [ngClass]="{'text-danger': newsData.deletedNews, 'text-success': !newsData.deletedNews}">{{ newsData.deletedNews ? 'Archivada' : 'Publicada' }}</span></li>
            <li class="list-group-item"><strong>Fecha de Creación </strong> {{ newsData.createdAt | date:'dd/MM/yyy' }}</li>
            <li class="list-group-item"><strong>Fecha de Actualización </strong> {{ newsData.updatedAt | date:'dd/MM/yyy' }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <footer>
    <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
  </footer>
  