<notification-modal [isOpen]="isNotificationOpen" [modalText]="modalText" (acceptChanges)="onAcceptChanges()" (cancelChanges)="onCancelChanges()"></notification-modal>

<h2 class="text-center">Ubicaciones</h2>

<div class="bloque_funcionalidades_clase">
  <button type="button" class="animated-word" routerLink="/locations/create" >Create</button>
  <button type="button" class="animated-word" (click)="printeaTodos()" >Get All</button>
  <input type="text" class="buscador" placeholder="Get By Name" [(ngModel)]="searchTerm" name="searchTerm" (keyup)="search()"/>
</div>

<div class="input-group mb-3">
</div>

<div class="tableLocations">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="textTitleTable">ID Ubicación</th>
        <th class="textTitleTable">Nombre</th>
        <th class="textTitleTable">Coordenadas</th>
        <th class="textTitleTable">Tipo</th>
        <th class="textTitleTable">Detalles</th>
        <th class="textTitleTable">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of filteredLocations">
        <td class="text-center">{{ location.uuid }}</td>
        <td class="text-center">{{ location.nameLocation }}</td>
        <td class="text-center">{{ location.latLocation }}, {{ location.lonLocation }}</td>
        <td class="text-center">{{ location.typeLocation }}</td>
        <td><a [routerLink]="['/locations/details/', location.uuid]"><button type="button" class="buttonDetailsEdit" (click)="showDetails(location)">Detalles</button></a></td>
        <td><a [routerLink]="['/locations/edit/', location.uuid]"><button type="button" class="buttonDetailsEdit" (click)="showEdit(location)">Editar</button></a></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagButtonsContainer">
  <button type="button" class="button-arounder" (click)="paginateprevious()" >◀</button>
  <p class="textoPag"> Page {{ numPage }} </p> 
  <button type="button" class="button-arounder" (click)="paginatenext()">▶</button>  
</div>

<footer>
  <p>EaseAer &copy; 2024. Todos los derechos reservados.</p>
</footer>
