@font-face {
  font-family: 'TitleFontType';
  src: url('../../../assets/fontTypes/Emirates_Font.ttf') format('truetype');
}

@font-face {
  font-family: 'SubtitleFontType';
  src: url('../../../assets/fontTypes/Corporate_Font.ttf') format('truetype');
}

@font-face {
  font-family: 'TextFontType';
  src: url('../../../assets/fontTypes/SF_Font.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}
  
header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('https://img.freepik.com/vector-gratis/fondo-acuarela_87374-69.jpg?w=1380&t=st=1682372953~exp=1682373553~hmac=2fb033385321897dc838be39b04d930d0123f3d4fd3b5bea135e2aa1b955b9c0');
}

/*HEADER SUPERIOR*/

.tituloCabecera h1{
  font-weight: bold;
  font-family: 'TitleFontType', sans-serif;
  color: #d0871e;
  font-size: 22px;
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.comentario h1{
  font-family: 'TextFontType', sans-serif;
  color: #e9e8e6;
  font-size: 12px;
  text-align: center;
}

.enLinea{
  display: inline-block;
}

.contenedor_cabecera {
  text-align: center;
  background-color: #321e29;
  padding: 0px;
}

/*BARRA MENU*/

.contenedor_menu {
  width: 100%;
  height: 100%;
  background-color: #e9e8e6;
  padding: 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.navbar__init {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  height: 36px;
}

.menu {
  max-width: 100%;
  height: 36px;
}

nav {
  height: 100%;
}

nav > ul {
  height: 100%;
  display: flex;
}

nav ul li {
  height: 100%;
  list-style: none;
  position: relative;
}

nav > ul > li:first-child > a {
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'TextFontType', sans-serif;
  font-size: 14px;
  padding: 14px;
}

nav > ul > li:first-child:hover > a {
  background-repeat: no-repeat;
  background-position: center center;
  font-family: 'TextFontType', sans-serif;
  font-size: 14px;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 120ms ease;
  font-family: 'TextFontType', sans-serif;
  font-size: 14px;
  color: #321e29;
  padding: 14px;
}

nav > ul > li > a:hover {
  transform: scale(0.8);
  background: #b3b0a1;
  color: white;
  border-radius: 12px;
  margin-top: 0px;
}

#selected {
  transform: scale(1);
  background-color: #24004d;
}

/*ELEMENTOS RESPONSIVOS*/

.icon__menu {
  font-size: 14px;
  color: white;
  cursor: pointer;
  font-family: 'SubtitleFontType', sans-serif;
  height: 100%;
  display: none;
  align-items: center;
}

#label__check {
  display: none;
}

#check__menu {
  display: none;
}